
/**
 * @file widgets.css
 
 * Template for widget CSS.
 */


.widget-title {
  display:block;
}

#widget-tabs-wrapper {
  border-bottom:1px solid #E9EFF3;
  margin:0;
  padding:0;
}

.widget-container {
  background:#FFFFFF url(../../../../themes/garland/images/gradient-inner.png) repeat-x scroll 0 0;
  border:1px solid #D9EAF5;
  margin:0em 0em;
  overflow: none;
  padding:.5em;
}

.embed-widget .node {
  border-bottom:medium none;
  margin:0;
  padding:0.2em;
}
